@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #000000;
    margin: 0px;
}

main{
    overflow: hidden;
}

h2{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 15px;
  word-spacing: 7px;
}

#logo{
    background-image: url('./assets/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 530px;
    height: 110px;
    margin:auto;
    margin-top: 25px;
}

.top-left-symbol{
    background-image: url('./assets/top-loeft-symbol.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 90px;
    height: 90px;
    position: absolute;
    top: -20px;
    left: -20px;
    visibility: hidden;
}

.top-right-symbol{
    background-image: url('./assets/top-right-symbol.png') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 90px;
    height: 90px;
    position: absolute;
    top:50px;
    right: 0px;
    visibility: hidden;
}

.soundwave{
    background-image: url('./assets/soundwave-with-black.png');
    background-position: left;
    background-repeat: repeat-x;
    background-size: contain;
    width: 100%;
    
}

.soundwave h2{
    color: #ffffff;
    text-align: center;
    padding: 45px 0;
    font-size: 28px;
    margin-bottom: 10px;
}

#page-info h3{
color: #ea852e;
text-align: center;
font-size: 16.9px;
margin-top: 10px;
margin-bottom: 10px;
}



#soundbar{
    background-image: url(./assets/Untitled\ design\ \(8\).png);
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;
    width: 100%;
    padding-bottom: 15px;
}

#soundbar iframe{
    margin: auto;
    display: block;
}

.edge-pixels-left{
    background-image: url('./assets/80x40pixels.png');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 55px;
    position: absolute;
    top: 0px;
    left:0px;
    visibility: hidden;

   
}
.edge-pixels-right{
    background-image: url('./assets/80x40pixels.png');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 55px;
    top:0px;
    right:0px;
    position: absolute;
    visibility: hidden;
    
   
}


.glossary-background{
    background: rgb(255,145,77);
    background: linear-gradient(90deg, rgba(255,145,77,1) 10%, rgba(255,222,89,1) 50%, rgba(255,145,77,1) 90%);
    width: 100%;
    padding-top: 20px;
    position:relative;
}

.glossary-background h4{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: large;
  word-spacing: 8px;
  letter-spacing: 3px;
  margin-top: 10px;
}

#symbols{
    display: flex;
    justify-content: center;
}

#glossary .symbol {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    justify-content: center;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding: 0 10px;
    margin: 2px;
}

#glossary .symbol-2 {
    padding: 0 10px;
}
.expand-direct{
    text-align: center;
}
.expander{
    text-align: center;
    transition: transform 0.5s;
    transition-delay: 0s;
    transition-timing-function: linear;
    display: inline-block;
}

.expand-text{
    display: inline-block;
    font-family: "Poppins";
    font-weight:300;
    margin-left: 15px;
    margin-right: 15px;
}

.exit-text{
    display: none;
    font-family: "Poppins";
    font-weight:300;
    margin-left: 15px;
    margin-right: 15px;
}


.definitions{
    overflow: hidden;
    max-height: 0px;
    transition: max-height 1s;
    transition-delay: 0;
    transition-timing-function: linear;
}

.definition-item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding: 5px 10px;
    margin: 1%;
}

.sym-box{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding: 0 10px;
    margin: 2px;
}
.double-dash{
    font-size: 27px;
}
.def-box{
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    text-align: center;
    flex-grow: 1;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding: 0 10px;
    margin: 2px;
}

.definitions h4{
    word-spacing: normal;
    letter-spacing: normal;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.combo{
    display: flex;
    align-items: center;
    max-width: 700px;
    width: 100%;
    margin: auto;
}

#center-column .todays-slay{
        font-size: 30px;
        margin-bottom: 2px;
 }
#center-column .workout-name {
        font-size: 20px;
    }
.glow {
        font-family: "Big Shoulders Display", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        animation: glow 1s ease-in-out infinite alternate;
        color: #ffdbe5;
        letter-spacing: 8px;
        word-spacing: 8px; 
}
.workout-info{
        letter-spacing: 1px;
        font-family: "Big Shoulders Display", sans-serif;
        font-weight: 500;
        font-style: normal;
        text-align: center;
        color: #ffdbe5;
        font-size: 15px;
        -webkit-text-stroke: white;
        -webkit-text-stroke-width: 0.33px;
}
    
    .workout-info div{
        display: inline-block;
        margin: 1px;
    }
    
    #flexbox{
        display: flex;
        justify-content: space-between;
        height: 2000px;
    }
    #left-bar{
        display: flex;
        background-image: url('./assets/part-big-left.png');
        width: 18%;
        justify-content: center;
        background-position-x: center ;
       
    }
    
    #center-column{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(./assets/back-blocks.png);
        background-size: contain;
        background-repeat: repeat;
        background-position-x:center;
        width: 64%;
        min-width: 280px;
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: thin;
        padding-top: 10px;
    }
    #right-bar{
        background-image: url('./assets/part-big-right.png');
        width: 18%;
        background-position-x: right; 
       
    }
    
    .circuit-lineup{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height:300px;
        margin-top: 5px;
        position: relative;
        
    }
    
    .circuit-lineup button{
        border-radius: 12px;
        font-size: 24px;
        color: white;
        background-color: #d6476d;
        font-family: "Big Shoulders Display", sans-serif;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 8px;
        word-spacing: 8px;
        border-color: white;
        width: 80%;
        height: 40px;
        align-self: center;
        
    }
     .popbox{
        display: none;
        flex-direction: column;
        background-color: white;
        font-family: Poppins;
        font-weight: 400;
        color: black;
        padding: 8px;
        width: 100%;
        align-self: center;
        border-radius: 12px;
        visibility: visible;
        text-align: center;
     }
     .popbox-charts{
        background-position: center;
        background-size: contain;
        width: 100%;
        min-height:250px;
        background-repeat: no-repeat;
     }

    
    
     .overview-chart{
        background-image: url('./assets/Screenshot\ 2024-03-12\ at\ 9.04.55\ PM.png');
    
    }
    .circuit1-chart{
        background-image: url(./assets/Circuit1-chart.png);
    }
    .c2-chart{
        background-image: url(./assets/Circuit1-chart.png);
        text-align: center;
        color: red;
        font-weight:700;
    }
    
    .c3-chart{
        background-image: url(./assets/Circuit1-chart.png);
        text-align: center;
        color: red;
        font-weight:700;
    }
    button.start-video {
        background-color:#1f8aa2 ;
        margin-top: 20px;
        width: 60%;
        height:auto;
        border-style:dotted;
    }
    
    .exercise-videos button{
        font-size: 16px;
        font-weight: 400;
        word-spacing: normal;
        letter-spacing: .5px;
        border-radius: 8px;
        width: auto;
    }

    #modal{
        width: 80%;
        height: 100%
    }
iframe{
    width: 280px;
    height: 158px;
}

@media only screen and (min-width:500px){
    #glossary .symbol {
        font-size: 50px;
        padding: 0 15px;
    }
}
@media only screen and (min-width:600px){
    .edge-pixels-right, .edge-pixels-left {
        visibility: visible;
    }
    
    #center-column h1.glow{
        font-size: 45px;
    }
    
    #center-column h2.glow{
        font-size: 25px;
    }

    iframe{
        width: 560px;
        height: 316px;
    }
}







@media only screen and ( min-width: 700px){
    .top-left-symbol, .top-right-symbol {
        visibility: visible;
    }
    .definitions h4{
        font-size: 18px;
    }
}
    
@media only screen and ( min-width: 900px){
    .edge-pixels-right, .edge-pixels-left {
        width: 120px;
    }
    #glossary .symbol {
        font-size: 72px;
        padding: 0 20px;
    }
}

@media only screen and (min-width: 1100px) {
    iframe{
        width: 726px;
        height: 400px;
    }
   
    #center-column .todays-slay {
        font-size: 60px;
        margin-bottom: 3px;
    }

    #center-column .workout-name {
        font-size: 30px;
    }

    .workout-info {
        font-size: 24px;
    }

    .circuit-lineup button {
        
        font-size: 36px;
        color: white;
        height: 47px;
    }

    .circuit-lineup{
        height: 360px;
    }

    .soundwave h2{
        padding: 24px 0;
        font-size: 39px;
    }
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
      }
      to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
      }
    }